  <div class="center hero-unit">
    <h1>Welcome to the MOBILE EYE </h1>

    <h2>
      This is the home page for the first
      <a href="http://www.sjtuhuaweiclub.com/">SJTU HuaWei</a>
      app challenge.
    </h2>
    <%= image_tag("logo1.png", alt: "mobile eye logo") %>
   <h3 style=" font-size: 1px;"><%= link_to "Sign in now!", signin_path, class: "btn btn-big btn-flat", disabled: true %> </h3> <p  style=" font-size: 5px;">New user? <%= link_to "Sign up now!", signup_path %></p> 
  </div>

