  <div class="center hero-unit">
    <h1>Welcome to the Mobile Eye</h1>

    <h2>
      This is the home page for the first
      <a href="http://www.sjtuhuaweiclub.com/">SJTU HuaWei</a>
      app challenge.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    <span style="padding:40px"></span>
    <%= link_to "Sign in!", signin_path, class: "btn btn-large btn-primary" %> 
  </div>

  <%= image_tag("logo3.jpg", alt: "mobile eye logo") %>
  <span style="padding:10px"></span>
  <%= image_tag("huaweisjtulogo.jpg", alt: "sjtu huawei logo") %>
