<li>
  <span class="description"><%= video.information %></span>,
  <span class="description"><%= video.location %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(video.created_at) %> ago.
  </span>
</li>
