<footer class="footer">
  <small>
    <a href="http://front.sjtu.edu.cn/">Mobile Eye</a>
    by 无线欢乐的小伙伴
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.sjtuhuaweiclub.com//">News</a></li>
    </ul>
  </nav>
</footer>
